*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(29, 29, 29, 0.934);
     align-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}
header{
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 1px 7px black;
    position:fixed;
}
.logo {
    margin-left: 5px;
    width: 45%;
}
.imgnavegacao {
    margin-right: 20px;
    width: 50%;
}
.container-pai{
    margin-top:45px;
    margin-bottom: 15px;
    display: flex;
    flex-direction:row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 80%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 50px 2px;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;    
}
h1 span{
    font-size: 28%;
    background-image: url(../imgs/imgs_cadastro/fundo\ letra.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.surgletras 
{
    animation:surgletras 1s linear;
}
@keyframes surgletras {
    from{opacity: 0; 
        background-image: url(../imgs/imgs_cadastro/Deid.gif);
        background-size:contain;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    to {
        opacity: 10;
        background-image: url(../imgs/imgs_cadastro/fundo\ letra.jpg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.surgindo{
    animation: surgindo 6s linear;
    font-size: 10vw;

}

@keyframes surgindo {
from{opacity: 0; 
    background-image: url(../imgs/imgs_cadastro/Deid.gif);
    background-size:contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
to {
    opacity: 10;
    background-image: url(../imgs/imgs_cadastro/fundo\ letra.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
::placeholder{
    color: #c2b7151a;
}
.input-{
    color: #c2b7153a; 
    width: 80%;
    height: 9%;
    text-align: center;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 15px;
    border-radius: 30px; 
    padding: 5px;    
    background-color: #232323ba;
    border: solid 0.1px rgba(0, 0, 0, 0.326);
    text-decoration: none;
    box-shadow: 2px 2px 7px rgba(213, 211, 71, 0.071);    
    transition: transform 1s;
    outline: none;
}
.input-:focus{
    transform: scale(1.03);
    border: solid 0.5px black;
}
button{
    width: 20%;
    padding: 6px;
    border-radius: 30px;
    margin: 3% 5% 1% 35%;
    border: none;
    color: #FFE181;
    background: #00000054;
    cursor: pointer;
    transform: transform 1s;
    box-shadow: 2px 2px 7px rgba(213, 211, 71, 0.142);
}
button:hover{
    box-shadow: 2px 2px 11px rgba(213, 211, 71, 0.142);
    transform: scale(1);
    background: #0000002b;

}
/* fotter */

footer {
    background-color: #000000;
    height: 350px;
    width: 100%;
  }
  
  #links-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    color: aliceblue;
  }
  .list-footer, li {
    margin-bottom: 10px;
  }
  
  a {
    color: aliceblue;
    text-decoration: none;
  }
  
  .title-list-footer {
    color: #FFE181;
    margin: 20px 0;
  }
  
  .last-text {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #FFE181;
  }